ChangeLog
.*.swp
src/*.c
*.o
*.a
Makefile
aclocal.m4
autom4te.cache
config.h
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
missing
.deps
Makefile.in
config.h.in
stamp-*
src/web-manager
*.gir.vapi
*.stamp
data/web/web-manager
tmp
web-manager.control
local-make-ipkg
